{% extends 'base.html' %}
{% load static %}

{% block title %} Blog {% endblock %}
{% block content %}

    <!-- blog section start -->
    <div class="about_section layout_padding">
        {% for blog in blog_list %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div class="about_img"><img src="/media/{{ blog.image }}" alt="image"></div>
                        <div class="like_icon"><img src="{% static "images/like-icon.png" %}" alt="image"></div>
                        <p class="post_text">Post By : {{ blog.created_at }}</p>
                        <h2 class="most_text">{{ blog.title }}</h2>
                        <p class="lorem_text">{{ blog.body }}</p>
                        <div class="social_icon_main">
                            <div class="social_icon">
                                <ul>
                                    <li><a href="#"><img src="{% static "images/fb-icon.png" %}"></a></li>
                                    <li><a href="#"><img src="{% static "images/twitter-icon.png" %}"></a></li>
                                    <li><a href="#"><img src="{% static "images/instagram-icon.png" %}"></a></li>
                                </ul>
                            </div>
                            <div class="read_bt"><a href="{% url 'blog-detail' blog.pk %}">Read More</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                    <div class="about_main">
                        <h1 class="follow_text">CONNECT & FOLLOW</h1>
                        <div class="follow_icon">
                            <ul>
                                <li><a href="#"><img src="{% static "images/fb-icon-1.png" %}"></a></li>
                                <li><a href="#"><img src="{% static "images/twitter-icon-1.png" %}"></a></li>
                                <li><a href="#"><img src="{% static "images/linkedin-icon-1.png" %}"></a></li>
                                <li><a href="#"><img src="{% static "images/instagram-icon-1.png" %}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- blog section end -->

{% endblock %}